<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about">
      <h2>About This App</h2>
      <p>
        This Blog website was built as a part of
        <a
          class="about-a"
          href="https://www.theodinproject.com/lessons/nodejs-getting-started"
        >
          <span>The Odin Project Node.js course </span>
        </a>
        , and it allows users to create, view, and delete blogs using the
        following technologies :
      </p>
      <ul class="tech-stack">
        <li>Node.js and Express to build the backend server</li>
        <li>EJS for the Template engine</li>
        <li>MangoDb for the database</li>
        <li>Mongoose as modeling tool for MongoDB</li>
      </ul>
    </div>
  </body>
  <%-include("./partials/footer.ejs") %>
</html>
